.calendar {
  height: 226px;
  width: 320px;
  box-sizing: border-box;
  background-color: #ffffff;
  position: absolute;
  bottom: -228px;
  right: 0px;
  z-index: 5;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
  padding: 20px 25px;
}
.react-calendar {
  box-sizing: border-box;
  background-color: #ffffff;
  &__navigation {
    display: flex;
    justify-content: space-between;
    & button {
      margin-bottom: 0;
    }
  }
  &__navigation__label {
    font-weight: 600;
    font-size: 12px;
    color: var(--blue-color);
    margin-bottom: 10px;
    border: none;
  }
  &__navigation__arrow {
    border: none;
  }
  &__month-view__weekdays {
    font-weight: 600;
    color: #9ea9b7;
    text-align: center;
    & abbr[title] {
      text-decoration: none;
      border: none;
    }
  }
  &__month-view__days button {
    margin-bottom: 0;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    border: none;
  }
  &__month-view__days__day {
    color: #000;
    &:hover {
      background-color: var(--blue-hover-color);
    }
  }
  &__tile--active {
    background-color: var(--blue-color) !important;
    color: #fff !important;
  }
  &__month-view__days__day--neighboringMonth {
    opacity: 0;
    user-select: none;
  }
}
