.radio-label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  transition: all 0.3s ease 0s;
  height: 40px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 13px;
}
.radio-checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--gray-color);

  margin-right: 10px;
}
.radio-checkmark:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.active.radio-checkmark:after {
  display: block;
}
.radio-label:hover {
  background-color: var(--blue-hover-color);
}
.radio-label:hover .radio-input ~ .radio-checkmark {
  border: 1px solid var(--blue-color);
}
.radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-checkmark:after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--blue-color);
}
