// Companies
.companies {
  background-color: #fff;
  border-radius: 5px;
  white-space: nowrap;
}
.companies__title {
  padding: 20px 20px 20px;
  font-weight: 600;
  font-size: 12px;
}
.companies__list {
}
