.btn {
  width: 100%;
  background-color: var(--blue-color);
  color: #fff;
  font-weight: 600;
  outline: none;
  border: none;
  transition: all 0.3s ease 0s;
  &:hover {
    color: #fff;
  }
  &:active {
    color: #fff;
  }
}
