@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('./css/normalize.css');
@import url('./css/skeleton.css');

:root {
  --blue-color: #2196f3;
  --blue-hover-color: #f1fcff;
  --gray-color: #a0b0b9;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f7fa;
  font-size: 12px;
  color: #4a4a4a;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  img {
    width: 60px;
    height: 60px;
  }
}
