.chekbox-label {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  padding: 10px 0;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: #f1fcff;
  }
}
.chekbox-input {
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease 0s;
  opacity: 0;
  cursor: pointer;

  width: 100%;
  height: 100%;
  margin: 0 10px 0 20px;
}
.chekbox-checkmark {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 1px solid #9abbce;
  margin-left: 20px;
  margin-right: 10px;
  &.active {
    border-color: #2196f3;
    background: url('../../../assets/shape.svg') no-repeat center;
  }
}
